<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4 tc">
			<img src="/img/logo.svg" alt="School logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b text-center mb2">Лубенська ЗОШ №8</p>
			<p class="grey-3">Освіта — це шлях до зірок.</p>
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Меню</h3>
				<ul class="mb3 pl0 list">
					<li><a href="/" class="link silver hover-white">Головна</a></li>
					<li><a href="/values" class="link silver hover-white">Про нас</a></li>
					<li><a href="/post" class="link silver hover-white">Новини</a></li>
					<li><a href="/contact" class="link silver hover-white">Контакти</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Контакти</h3>
				<ul class="mb3 pl0 list">
					<li class="grey-3 mb2">м. Лубни, вул. Прикладна, 1</li>
					<li class="grey-3 mb2">+38 (012) 345-67-89</li>
					<li class="grey-3 mb2">school8@email.com</li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Ми в соцмережах</h3>
				<ul class="mhn2 pl0 list">
					{{ partial "social-icon" (dict "link" "https://facebook.com/lubny.ukg" "svg" "icons-facebook" "alt"
					"Facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>