<nav class="flex justify-between items-center center bg-white bb b--grey-2 ph4 pv3 sticky top-0 z-5 shadow-1">

	<!-- Logo & Branding (Left) -->
	<a href="/" class="flex items-center link dark-gray no-underline hover-primary transition-all">
		<img src="/img/logo.svg" alt="School Logo" class="h3 w3 mr3">
		<div class="flex flex-column justify-center">
			<span class="f4 b ttu tracked-tight primary lh-m">Українська Класична Гімназія</span>
			<span class="f7 ttu tracked grey-3 fw5">Лубенської міської ради</span>
		</div>
	</a>

	<!-- Mobile Toggle -->
	<div data-mobile-menu class="dn-l pointer">
		<svg viewBox="0 0 24 24" width="32" height="32" fill="currentColor" class="primary">
			<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
		</svg>
	</div>

	<!-- Primary Nav (Right) -->
	<ul class="dn flex-l list pl0 ma0 items-center fw6 ttu f6 tracked">
		<li><a href="/" class="link black hover-primary pa3">Головна</a></li>
		<li><a href="/values" class="link black hover-primary pa3">Про гімназію</a></li>
		<li><a href="/post" class="link black hover-primary pa3">Учням</a></li>
		<li><a href="/contact" class="link black hover-primary pa3">Батькам</a></li>
		<li><a href="/post" class="link black hover-primary pa3">Життя</a></li>
		<li><a href="/values" class="link black hover-primary pa3">Центри</a></li>
	</ul>

</nav>